USE [master]
GO
/****** Object:  Database [CRUD]    Script Date: 22/06/2026 08:56:01 a. m. ******/
CREATE DATABASE [CRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRUD]
GO
/****** Object:  Table [dbo].[asignaciones_calendario]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asignaciones_calendario](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[empleado_id] [bigint] NOT NULL,
	[fecha] [date] NOT NULL,
	[nombre_dia] [nvarchar](50) NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[modificado_manual] [bit] NOT NULL,
	[empleado_original_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache](
	[key] [nvarchar](191) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
	[expiration] [bigint] NOT NULL,
 CONSTRAINT [cache_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cache_locks]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cache_locks](
	[key] [nvarchar](191) NOT NULL,
	[owner] [nvarchar](191) NOT NULL,
	[expiration] [bigint] NOT NULL,
 CONSTRAINT [cache_locks_key_primary] PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleados]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleados](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](191) NOT NULL,
	[apellidoPaterno] [nvarchar](191) NOT NULL,
	[apellidoMaterno] [nvarchar](191) NOT NULL,
	[correo] [nvarchar](191) NOT NULL,
	[foto] [nvarchar](191) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[curp] [nvarchar](18) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[failed_jobs]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[failed_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[uuid] [nvarchar](191) NOT NULL,
	[connection] [nvarchar](max) NOT NULL,
	[queue] [nvarchar](max) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[exception] [nvarchar](max) NOT NULL,
	[failed_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_batches]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_batches](
	[id] [nvarchar](191) NOT NULL,
	[name] [nvarchar](191) NOT NULL,
	[total_jobs] [int] NOT NULL,
	[pending_jobs] [int] NOT NULL,
	[failed_jobs] [int] NOT NULL,
	[failed_job_ids] [nvarchar](max) NOT NULL,
	[options] [nvarchar](max) NULL,
	[cancelled_at] [int] NULL,
	[created_at] [int] NOT NULL,
	[finished_at] [int] NULL,
 CONSTRAINT [job_batches_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[queue] [nvarchar](191) NOT NULL,
	[payload] [nvarchar](max) NOT NULL,
	[attempts] [tinyint] NOT NULL,
	[reserved_at] [int] NULL,
	[available_at] [int] NOT NULL,
	[created_at] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[migrations]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[migration] [nvarchar](191) NOT NULL,
	[batch] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_tokens]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_tokens](
	[email] [nvarchar](191) NOT NULL,
	[token] [nvarchar](191) NOT NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [password_reset_tokens_email_primary] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas_telefonos]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas_telefonos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[empleado_id] [bigint] NOT NULL,
	[fecha] [date] NOT NULL,
	[posicion] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sessions]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sessions](
	[id] [nvarchar](191) NOT NULL,
	[user_id] [bigint] NULL,
	[ip_address] [nvarchar](45) NULL,
	[user_agent] [nvarchar](max) NULL,
	[payload] [nvarchar](max) NOT NULL,
	[last_activity] [int] NOT NULL,
 CONSTRAINT [sessions_id_primary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 22/06/2026 08:56:01 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](191) NOT NULL,
	[email] [nvarchar](191) NOT NULL,
	[email_verified_at] [datetime] NULL,
	[password] [nvarchar](191) NOT NULL,
	[remember_token] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[rol] [nvarchar](191) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[asignaciones_calendario] ON 

INSERT [dbo].[asignaciones_calendario] ([id], [empleado_id], [fecha], [nombre_dia], [tipo], [created_at], [updated_at], [modificado_manual], [empleado_original_id]) VALUES (1, 15, CAST(N'2026-04-13' AS Date), N'Lunes', N'normal', CAST(N'2026-04-23T20:41:29.840' AS DateTime), CAST(N'2026-04-23T20:41:29.840' AS DateTime), 0, NULL)
INSERT [dbo].[asignaciones_calendario] ([id], [empleado_id], [fecha], [nombre_dia], [tipo], [created_at], [updated_at], [modificado_manual], [empleado_original_id]) VALUES (2, 16, CAST(N'2026-04-14' AS Date), N'Martes', N'normal', CAST(N'2026-04-23T20:41:29.853' AS DateTime), CAST(N'2026-04-23T20:41:29.853' AS DateTime), 0, NULL)
INSERT [dbo].[asignaciones_calendario] ([id], [empleado_id], [fecha], [nombre_dia], [tipo], [created_at], [updated_at], [modificado_manual], [empleado_original_id]) VALUES (3, 17, CAST(N'2026-04-15' AS Date), N'Miércoles', N'normal', CAST(N'2026-04-23T20:41:29.857' AS DateTime), CAST(N'2026-04-23T20:41:29.857' AS DateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[asignaciones_calendario] OFF
GO
SET IDENTITY_INSERT [dbo].[empleados] ON 

INSERT [dbo].[empleados] ([id], [nombre], [apellidoPaterno], [apellidoMaterno], [correo], [foto], [created_at], [updated_at], [curp], [activo]) VALUES (15, N'Mario Andree', N'Carmona', N'Aguayo', N's.susyaguayo@gmail.com', N'uploads/SvdFxCrts1d98m7VhAHTTiBm2c601uvds8QhDqWK.jpg', NULL, NULL, N'CAAM060826HMNRGRA8', 1)
INSERT [dbo].[empleados] ([id], [nombre], [apellidoPaterno], [apellidoMaterno], [correo], [foto], [created_at], [updated_at], [curp], [activo]) VALUES (16, N'Damaris Yaratzed', N'Saldovar', N'Franco', N'Damaris@gmail.com', N'uploads/ug5KCwjgiTR6MZXcCIi2S0eMMeKoqnKw1SLiQdwN.png', NULL, CAST(N'2026-04-23T20:14:00.790' AS DateTime), N'BAVC620606MDFRNR07', 1)
INSERT [dbo].[empleados] ([id], [nombre], [apellidoPaterno], [apellidoMaterno], [correo], [foto], [created_at], [updated_at], [curp], [activo]) VALUES (17, N'Yiram Ariel', N'Rocha', N'Garcia', N'yito71@gmail.com', N'uploads/b60nFCOTIvgjgXCLKPuak5bJlHaq9OT7KsfBQNSn.png', NULL, CAST(N'2026-05-04T20:28:05.903' AS DateTime), N'PEGJ900515HJCRRN05', 1)
SET IDENTITY_INSERT [dbo].[empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[migrations] ON 

INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (1, N'0001_01_01_000000_create_users_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (2, N'0001_01_01_000001_create_cache_table', 1)
INSERT [dbo].[migrations] ([id], [migration], [batch]) VALUES (3, N'0001_01_01_000002_create_jobs_table', 1)
SET IDENTITY_INSERT [dbo].[migrations] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [email], [email_verified_at], [password], [remember_token], [created_at], [updated_at], [rol]) VALUES (1, N'Mario', N'mayin7759@gmail.com', NULL, N'$2y$12$/9tij7araTkO6bpnrJqHY.XBHH3xCuvANOub7nHOanCRI2k056182', N'ngGlWJB9F8Pjueq8pm6LYUxwycChuLsVJN05kvW0QMsJtBYbSHq2ZhiggjGr', CAST(N'2026-03-31T20:09:10.563' AS DateTime), CAST(N'2026-03-31T20:09:10.563' AS DateTime), N'empleado')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [unique_fecha]    Script Date: 22/06/2026 08:56:02 a. m. ******/
ALTER TABLE [dbo].[asignaciones_calendario] ADD  CONSTRAINT [unique_fecha] UNIQUE NONCLUSTERED 
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [asignaciones_calendario_fecha_unique]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [asignaciones_calendario_fecha_unique] ON [dbo].[asignaciones_calendario]
(
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [cache_expiration_index]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE NONCLUSTERED INDEX [cache_expiration_index] ON [dbo].[cache]
(
	[expiration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [cache_locks_expiration_index]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE NONCLUSTERED INDEX [cache_locks_expiration_index] ON [dbo].[cache_locks]
(
	[expiration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [empleados_curp_unique]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [empleados_curp_unique] ON [dbo].[empleados]
(
	[curp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [failed_jobs_uuid_unique]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [failed_jobs_uuid_unique] ON [dbo].[failed_jobs]
(
	[uuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [jobs_queue_index]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE NONCLUSTERED INDEX [jobs_queue_index] ON [dbo].[jobs]
(
	[queue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [reservas_telefonos_empleado_id_fecha_unique]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [reservas_telefonos_empleado_id_fecha_unique] ON [dbo].[reservas_telefonos]
(
	[empleado_id] ASC,
	[fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_last_activity_index]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE NONCLUSTERED INDEX [sessions_last_activity_index] ON [dbo].[sessions]
(
	[last_activity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [sessions_user_id_index]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE NONCLUSTERED INDEX [sessions_user_id_index] ON [dbo].[sessions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [users_email_unique]    Script Date: 22/06/2026 08:56:02 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [users_email_unique] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asignaciones_calendario] ADD  DEFAULT ('normal') FOR [tipo]
GO
ALTER TABLE [dbo].[asignaciones_calendario] ADD  DEFAULT ('0') FOR [modificado_manual]
GO
ALTER TABLE [dbo].[empleados] ADD  DEFAULT ('1') FOR [activo]
GO
ALTER TABLE [dbo].[failed_jobs] ADD  DEFAULT (getdate()) FOR [failed_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('empleado') FOR [rol]
GO
ALTER TABLE [dbo].[asignaciones_calendario]  WITH CHECK ADD  CONSTRAINT [asignaciones_calendario_empleado_id_foreign] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[asignaciones_calendario] CHECK CONSTRAINT [asignaciones_calendario_empleado_id_foreign]
GO
ALTER TABLE [dbo].[reservas_telefonos]  WITH CHECK ADD  CONSTRAINT [reservas_telefonos_empleado_id_foreign] FOREIGN KEY([empleado_id])
REFERENCES [dbo].[empleados] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reservas_telefonos] CHECK CONSTRAINT [reservas_telefonos_empleado_id_foreign]
GO
USE [master]
GO
